@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
.report-module-content{
  width: calc(100% - 220px);
  margin-left: auto;
  padding-right: 20px;
}
.report-module-heading{
  font-size: 20px;
  font-weight: 600;
}
.report-boxes-wrapper{
  display: flex;
  margin-top: 30px;
}
.report-three-box-wrapper{
  display: flex;
  flex-direction: column;
  width: 30%;
  row-gap: 20px;
}
.report-wrapper-heading{
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.report-wrapper-heading h2{
  font-size: 18px;
  font-weight: 500;
}
.report-wrapper-heading img{
  width: 60px;
  height: 25px;
}
.report-card{
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  min-width: 75%;
  max-width: 75%;
  height: 110px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.report-img-name{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.report-img-name img{
  width: 30px;
}
.report-img-name h2{
  font-size: 14px;
  font-weight: 500;
}
.report-img-name p{
  font-size: 10px;
}
.report-card-paragraph{
  margin-top: 20px;
  font-size: 10px;
}