@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  /* outline: 2px solid red; */
}
.finance-content{
  width: calc(100% - 220px);
  margin-left: auto;
  padding-right: 20px;
  height: 90vh;
}
.fund-donut-wrapper{
  display: flex;
  column-gap: 30px;
}
.fund-div{
  width: 100%;
  max-width: 50%;
  min-width: 50%;
  height: 250px;
  border-radius: 10px;
}
.donut-chart-div{
  display: flex;
  width: 100%;
  max-width: 48%;
  min-width: 48%;
  height: 250px;
  column-gap: 30px;
  justify-content: flex-end;
}
.report-expence-wrapper{
  margin-top: 20px;
  display: flex;
  column-gap: 10px;
}
.expences-div-wrapper{
  display: flex;
  column-gap: 20px;
  width: 100%;
  max-width: 50%;
  min-width: 50%;
  height: 300px;
}
.report-table-wrapper{
  width: 100%;
  min-width: 50%;
  max-width: 50%;
  height: 300px;
}
.table-container1{
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
}
.table-title{
  font-size: 14px;
}
.report-table1{
  width: 100%;
  border-collapse: collapse;
}
.report-table-heading1 {
  text-align: center;
  padding: 12px;
  color: #9899AA;
  font-weight: 400;
  font-size: 13px;
}
.report-table-data1{
  padding: 5px;
  color: #9899AA;
  text-align: center;
  font-size: 13px;
}
.fund-div,
.first-donut,
.second-donut,
.expence-tracking,
.payment-tracking{
  overflow: hidden;
  border-radius: 20px;
}